services:
  - type: web
    name: feedback-app
    runtime: python
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      python manage.py migrate
      python manage.py collectstatic --no-input
    startCommand: gunicorn main.wsgi:application
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: feedback-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: PYTHON_VERSION
        value: "3.11.0"
    healthCheckPath: /
    autoDeploy: true

databases:
  - name: feedback-db
    databaseName: feedback_db
    plan: free
